<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FC.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<FC.Domain.Properties.Settings>
   <setting name="language" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="primarySoftwareColor" serializeAs="String">
    <value>#FF333456</value>
   </setting>
   <setting name="foreground" serializeAs="String">
    <value>#FFF</value>
   </setting>
   <setting name="baseTheme" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="enableTerminal" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="isCurrentProcessAdmin" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="gatewayConnectionType" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="terminalAutoComplete" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="terminalAutoScroll" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="mostRepeatedIP" serializeAs="String">
    <value />
   </setting>
   <setting name="delayTimeBetweenCommand" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="visualization" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="isFindGatewayBroadcast" serializeAs="String">
    <value>False</value>
   </setting>
  </FC.Domain.Properties.Settings>
	</userSettings>
</configuration>